/* DICHIARAZIONE VARIABILI */
:root
{
    /* VARIABILI DIMENSIONALI */
    --main_width            : 80vw;
    --main_height           : 85vh;
    /* --width_friends_side    : 0;
    --width_chat_side       : 0; */
    /* VARIABILI CROMATICHE */
}

main
{
    width: var(--main_width);
    height: var(--main_height);
}

#friends_side, #chat_side
{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#friends_side
{
    /* flex-basis: calc(100% * var(--width_friends_side)); */
    background-color: whitesmoke;
}

#chat_side
{
    /* flex-basis: calc(100% * var(--width_chat_side)); */
    background-image: url(../img/mine.jpg);
}

.section_header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: lightgray;
}

.person
{
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.person img
{
    height: 100%;
    object-fit: cover;
}

.person .person_details
{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.icons_set
{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    color: darkgray;
}

.icons_set i
{
    font-size: 1rem;
    cursor: pointer;
}